:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 0%, 80%);
    --clr-neutral-900: hsl(0, 0%, 15%);

    --clr-primary-400: hsl(61, 99%, 39%);
    
    --clr-secondary-400: hsl(39, 93%, 60%);

    --clr-highlight-400: hsl(8, 96%, 46%);

    --clr-button-400: hsl(257, 14%, 19%);
    --clr-button-500: hsl(257, 14%, 15%);

    --clr-table-100: hsl(165, 13%, 84%);
    --clr-table-200: hsl(165, 7%, 79%);
    --clr-table-300: hsl(165, 12%, 69%);
    --clr-table-800: hsl(174, 10%, 42%);

    --gradient-table: linear-gradient(
        -30deg, 
        var(--clr-table-800), 
        var(--clr-table-100), 
        var(--clr-table-200), 
        var(--clr-table-300), 
        var(--clr-table-100), 
        var(--clr-table-200),  
        var(--clr-table-800)
    );

    --clr-wood-700: hsl(20, 53%, 23%);
    --clr-wood-800: hsl(12, 70%, 17%);

    --gradient-wood: linear-gradient(
        45deg, 
        var(--clr-wood-800), 
        var(--clr-wood-700), 
        var(--clr-wood-800), 
        var(--clr-wood-700), 
        var(--clr-wood-800)
    );

    --clr-faded-800: hsl(0, 0%, 0%, 0.12);

    --clr-shadow: hsl(18, 38%, 13%);

    --ff-primary: cursive;
    --ff-secondary: cursive;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-75: 0.75rem;
    --fs-100: 1rem;
    --fs-110: 1.1rem;
    --fs-125: 1.25rem;
    --fs-150: 1.5rem;
    --fs-175: 1.75rem;
    --fs-200: 2rem;
    --fs-300: 3rem;
    --fs-400: 4rem;
    --fs-500: 5rem;

    --fs-title: clamp(var(--fs-175), 1.75vw, var(--fs-200));
    --fs-body: clamp(var(--fs-100), 1.1vw, var(--fs-110));
    --fs-board-message: clamp(var(--fs-150), 1.75vw, var(--fs-200));
    --fs-board-countdown: clamp(var(--fs-400), 4vw, var(--fs-500));
    --fs-footer: clamp(var(--fs-75), 1vw, var(--fs-100));

    --size-15: 0.15rem;
    --size-25: 0.25rem;
    --size-35: 0.35rem;
    --size-50: 0.5rem;
    --size-75: 0.75rem;
    --size-100: 1rem;
    --size-115: 1.15rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
    --size-275: 2.75rem;
    --size-350: 3.5rem;
    --size-450: 4.5rem;
    --size-500: 5rem;
    --size-800: 32rem;
    --size-900: 40rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
    color: inherit;
    text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
    border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling */

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-primary-400);
    background: var(--gradient-table);
    cursor: default;
    user-select: none;
}

header {
    background: var(--gradient-wood);
    padding: clamp(var(--size-100), 1.25vw, var(--size-200));
    box-shadow: 0 4px 4px var(--clr-shadow);
}

h1 {
    text-align: center;
    line-height: 1;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
}

h1 > span:first-of-type {
    color: var(--clr-highlight-400);
}

h1 > span:last-of-type {
    color: var(--clr-secondary-400);
}

main {
    display: grid;
    place-items: center;
    flex-grow: 1;
    padding: var(--size-75);
}

.main-section {
    --max-width: 90rem;
    --gap-inline: var(--size-100);

    display: grid;
    grid-template-areas: 
        'main-board main-board'
        'left-ui right-ui'
    ;
    width: min(var(--max-width), 100% - var(--gap-inline));
    font-weight: var(--fw-bold);
    background: var(--gradient-wood);
    border-radius: var(--size-50);
    box-shadow: 4px 4px 4px var(--clr-shadow);
}

.main-section .left-ui, .main-section .right-ui {
    display: grid;
    place-content: center;
    padding: var(--size-75);
}

.main-section .left-ui {
    grid-area: left-ui;
    gap: var(--size-100);
    border-inline-end: 2px groove var(--clr-shadow);
}

.left-ui__box {
    display: flex;
    justify-content: center;
    gap: var(--size-15);
}

.left-ui__box span[data-score] {
    color: var(--clr-secondary-400);
}

.left-ui__heart {
    max-width: clamp(var(--size-115), 1.2vw, var(--size-200));
}

.main-section .main-board {
    position: relative;
    grid-area: main-board;
    min-height: clamp(var(--size-800), 35vw, var(--size-900));
    border-block-end: 2px groove var(--clr-shadow);
    overflow: hidden;
    touch-action: none;
}

.main-board__message {
    position: absolute;
    font-size: var(--fs-board-message);
    text-align: center;
    color: var(--clr-neutral-200);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-board__message p[data-message-countdown], 
.main-board__message div[data-message-over] {
    visibility: hidden;
    position: absolute;
}

.main-board__message span[data-score] {
    color: var(--clr-secondary-400);
}

.main-board__message p[data-message-countdown] {
    font-size: var(--fs-board-countdown);
}

.main-board__fruit {
    --fruit-width: clamp(var(--size-350), 3.8vw, var(--size-450));
    visibility: hidden;
    position: absolute;
    top: calc(-1.75 * var(--fruit-width));
    width: var(--fruit-width);
}

.main-section .right-ui {
    grid-area: right-ui;
    gap: var(--size-50);
}

.right-ui__button {
    position: relative;
    color: var(--clr-primary-400);
    background-color: var(--clr-button-400);
    padding: var(--size-25) var(--size-125);
    border-radius: var(--size-50);
    box-shadow: 2px 2px 2px var(--clr-shadow);
    cursor: pointer;
}

.right-ui__button:hover {
    background-color: var(--clr-button-500);
}

.right-ui__button:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

footer {
    padding: clamp(var(--size-35), 0.8vw, var(--size-50));
    font-size: var(--fs-footer);
    display: grid;
    justify-items: center;
    color: var(--clr-neutral-200);
    background: var(--gradient-wood);
    margin-block-start: auto;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: var(--clr-neutral-300);
}

.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-100);
}

.contact-info__link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

@media (min-width: 75rem) {
    .main-section {
        --side-sections-padding: var(--size-150);
        --gap-inline: var(--size-500);

        grid-template-columns: 17% 66% 17%;
        grid-template-areas: 
            'left-ui main-board right-ui'
        ;
        align-items: start;
    }
    
    .main-section .left-ui, .main-section .right-ui {
        padding-block-start: var(--side-sections-padding);
    }

    .main-section .left-ui {
        border-inline-end: none;
    }
    
    .left-ui__box {
        gap: var(--size-25);
    }
    
    .main-section .main-board {
        grid-area: main-board;
        border-block: none;
        border-inline: 2px groove var(--clr-shadow);
    }

    .main-section .right-ui {
        gap: var(--size-75);
    }
    
    .right-ui__button {
        padding-block: clamp(var(--size-25), 0.25vw, var(--size-50));
        padding-inline: clamp(var(--size-150), 2.25vw, var(--size-275));
    }
}

/* UTILITY CLASSES */

.container {
    max-width: 120rem;
}